.c1 {
background-color: #FF1000; color:#000;
position: relative;
border: 1px solid grey; /*temporary*/
width: 220px;
height: 69px;
left: 190px;
top: -85px;
font-size: 40px;
background-color: #FFF;
padding:5px;
}
.c1:hover { background-color: #FF1000; color:#fff;} 

.c2{ 
background-color: #FF1000; color:#000;
position: relative;
border: 1px solid grey; /*temporary*/
width: 140px;
height: 69px;
left: 421px;
top: -166px;
font-size: 40px;
background-color: #FFF;
padding:5px;
}
.c2:hover { background-color: #FF1000; color:#fff;} 

.c3{ /* Walls */
background-color: #FF1000; color:#000;
position: relative;
border: 1px solid grey; /*temporary*/
width: 91px;
height: 69px;
left: 572px;
top: -247px;
font-size: 40px;
background-color: #FFF;
padding:5px;
}
.c3:hover { background-color: #FF1000; color:#fff;} 

.c4{ /* Floors */
background-color: #FF1000; color:#000;
position: relative;
border: 1px solid grey; /*temporary*/
width: 97px;
height: 69px;
left: 675px;
top: -328px;
font-size: 40px;
background-color: #FFF;
padding:5px;
}
.c4:hover { background-color: #FF1000; color:#fff;} 

.content{
position: relative;
/*border: 1px solid grey; /*temporary*/
z-index:1;
top:-4px;
}
.alpha{ /* counter tops */
position:absolute;
z-index: 11;
top: 0px;
}
.alpha2{ /*floor*/
position:absolute;
z-index: 7;
top:0px;
}
.alpha3{ /*walls*/
position:absolute;
z-index: 8;
top:0px;
}
.alpha4{ /* cabinets */
position:absolute;
z-index: 10;
top:0px;
}

.menu{ 
position: relative;
/*border: 1px solid grey; */   /* temporary*/
height:92px;
}

.menu-side{ 
position: absolute;
height: 70px;
/*border: 1px solid grey; /*temporary*/
left: 910px; /* 905px */
height:294px;
width: 145px;
top: 300px;
z-index: 2;
}
.menu-side2{ 
position: absolute;
height: 70px;
left:910px; /* 905px */
height:294px;
width: 145px;
top: 300px;  /* top: 190px; */
z-index:1;
/*border: 1px solid grey; /*temporary*/
}

.menu-btm{ /* Bottom Menu */
position: relative;
height: 70px;
left:-1;
width: 900px;
top: 506px; /* 492px; */
z-index:2;

}
.menu-btm2{ /* CABINETS */
position: absolute;
/*border: 1px solid grey; /*temporary*/
height: 70px;
width: 898px;
z-index:3;
}
.menu-btm3{	/* COUNTER TOPS */
position: absolute;
/*border: 1px solid grey; /*temporary*/
height: 70px;
width: 898px;
z-index:4;
}
